<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dk.dtu.gruppe9.flaskehalsenpegerp" >
	
	<uses-feature android:name="android.hardware.camera2"
                  android:required="false"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".GameActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:label="@string/title_activity_game"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name=".IntroSplash"
            android:label="@string/title_activity_intro_splash"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
				<action android:label="Flasken Peger På" />
                <!-- <action android:icon=""ICON_LOCATION" /> -->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MenuActivity"
            android:label="@string/title_activity_menu"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" >
        </activity>
        <activity
            android:name=".PlayerActivity"
            android:label="@string/title_activity_player"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".InstrucActivity"
            android:label="@string/title_activity_instruc"
            android:theme="@style/Transparent">
        </activity>
    </application>

</manifest>
